{% extends 'layout/professor.twig' %}
{% block style_below %}
    <style>
        .is-answer{
            color: #4ae04a;
        }
        .is-wrong{
            color: #ff7e7e;
        }
        .auto-incr-form:before{
            top: 117px !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mt-4 mb-5">
                <h4 class="text-center ">
                    {{ exam_title }}
                </h4>
                <a href="/professor" class="btn btn-primary">بازگشت به صفحه اصلی</a>
            </div>
            <form method="post" action="/user/exam/save" class="auto-incr-form">
                {% for question in questions %}
                    <div class="row step">
                        <div class="col-12">
                            <h5>{{ question.title }}</h5>
                        </div>
                        <div class="col-md-3">
                            {% set option1Class = '' %}
                            {% if question.answer == '1' %}
                                {% if question.choice == '1' %}
                                    {% set option1Class = 'is-answer' %}
                                {% endif %}
                            {% else %}
                                {% if question.choice == '1' %}
                                    {% set option1Class = 'is-wrong' %}
                                {% endif %}
                            {% endif %}
                            {% if  question.answer == '1' %}
                                {% set option1Class = 'is-answer' %}
                            {% endif %}
                            <h5 class="{{ option1Class }}">الف ) &nbsp; {{ question.option1 }}</h5>
                        </div>
                        <div class="col-md-3">
                            {% set option2Class = '' %}
                            {% if question.answer == '2' %}
                                {% if question.choice == '2' %}
                                    {% set option2Class = 'is-answer' %}
                                {% endif %}
                            {% else %}
                                {% if question.choice == '2' %}
                                    {% set option2Class = 'is-wrong' %}
                                {% endif %}
                            {% endif %}
                            {% if  question.answer == '2' %}
                                {% set option2Class = 'is-answer' %}
                            {% endif %}

                            <h5 class="{{ option2Class }}">ب ) &nbsp; {{ question.option2 }}</h5>
                        </div>
                        <div class="col-md-3">
                            {% set option3Class = '' %}
                            {% if question.answer == '3' %}
                                {% if question.choice == '3' %}
                                    {% set option3Class = 'is-answer' %}
                                {% endif %}
                            {% else %}
                                {% if question.choice == '3' %}
                                    {% set option3Class = 'is-wrong' %}
                                {% endif %}
                            {% endif %}
                            {% if  question.answer == '3' %}
                                {% set option3Class = 'is-answer' %}
                            {% endif %}

                            <h5 class="{{ option3Class }}">د ) &nbsp; {{ question.option3 }}</h5>
                        </div>
                        <div class="col-md-3">
                            {% set option4Class = '' %}
                            {% if question.answer == '4' %}
                                {% if question.choice == '4' %}
                                    {% set option4Class = 'is-answer' %}
                                {% endif %}
                            {% else %}
                                {% if question.choice == '4' %}
                                    {% set option4Class = 'is-wrong' %}
                                {% endif %}
                            {% endif %}
                            {% if  question.answer == '4' %}
                                {% set option4Class = 'is-answer' %}
                            {% endif %}
                            <h5 class="{{ option4Class }}" >ه ) &nbsp; {{ question.option4 }}</h5>
                        </div>
                    </div>
                {% endfor %}

            </form>
        </div>
    </div>
{% endblock %}