<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none ml-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        {#<img class="navbar-brand-full" src="/public/images/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">#}
        {#<img class="navbar-brand-minimized" src="/public/images/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">#}
        سیستم آزمون آنلاین
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    {# <ul class="nav navbar-nav">
        <li class="nav-item px-3">
            <a class="btn btn-primary" href="/">بازگشت به وبسایت</a>
        </li>
        
    </ul> #}
    <ul class="nav navbar-nav mr-auto">
        {# <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-bell"></i>
                <span class="badge badge-pill badge-danger">5</span>
            </a>
        </li> #}
        <!-- <li class="nav-item d-md-down-none"> <a class="nav-link" href="#"> <i class="icon-list"></i> </a> </li> <li class="nav-item d-md-down-none"> <a class="nav-link" href="#"> <i class="icon-location-pin"></i> </a> </li> -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="img-avatar" src="/public/images/img-5.jpg" alt="{{user.fname}}">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>حساب کاربری</strong>
                </div>
                <a class="dropdown-item" href="{{'/' ~ user.user_type ~ '/messages'}}">
                    <i class="fa fa-envelope-o"></i>
                    پیام های شما
                    <span class="badge badge-success">{{unreadMessagesCount}}</span>
                </a>
              
                
                <a class="dropdown-item" href="{{'/' ~ user.user_type ~ '/edit-profile'}}">
                    <i class="fa fa-user"></i>
                    ویرایش پروفایل</a>
                <a class="dropdown-item" href="{{'/' ~ user.user_type ~ '/logout'}}">
                    <i class="fa fa-lock"></i>
                    خروج</a>
            </div>
        </li>
    </ul>
    <!-- <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show"> <span class="navbar-toggler-icon"></span> </button> <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show"> <span class="navbar-toggler-icon"></span> </button> -->
</header>