<nav class="page-navigation" aria-label="Page navigation example">
    <ul class="pagination {{ parent_class }}">
        
        {% if count > offset %}
            {% set last_page = (count / 10) | round(0, 'ceil') %}
            {% set pageQs=page_prefix ? page_prefix ~ "page":"page" %}
            {% if current_page != 1 %}
                <li class="page-item">
                    {% if no_href %}
                        <a class="page-link" data-page="1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {% else %}
                        <a class="page-link" href="{{base_path}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {% endif %}
                </li>
                <li class="page-item">
                    {% if no_href %}
                        <a class="page-link" data-page="{{ (current_page - 1) }}" aria-label="Previous">
                            قبلی
                        </a>
                    {% else %}
                        <a class="page-link" href="{{base_path ~ "?" ~ pageQs ~ "=" ~ (current_page - 1) }}" aria-label="Previous">
                            قبلی
                        </a>
                    {% endif %}
                </li>
            {% endif %}
            {% if current_page + (visible_numbers - 1) > last_page %}
                {% set end_index = last_page %}
                {% set start_index=current_page-(visible_numbers-(last_page-current_page)) %}
            {% else %}
                {% set start_index = current_page - (visible_numbers-1) %}
                {% set end_index = current_page + (visible_numbers - 1) %}
            {% endif %}
            {% if start_index < 1 %}
                {% set start_index = 1 %}
            {% endif %}
            {% for page_number in range(start_index, end_index) %}
                {% if page_number == current_page %}
                    {% set pagination_class ="page-item active" %}
                {% else %}
                    {% set pagination_class ="page-item" %}
                {% endif %}

                <li class="{{ pagination_class }}">
                    {% if no_href %}
                        <a class="page-link" data-page="{{ page_number }}">{{ page_number }}</a >
                    {% else %}
                        <a class="page-link" href="{{base_path ~ '?' ~ pageQs ~ '=' ~ page_number }}">{{ page_number }}</a >
                    {% endif %}
                </li>
            {% endfor %}
            {% if current_page != last_page %}

                <li class="page-item">
                    {% if no_href %}
                        <a class="page-link" data-page="{{ (current_page + 1) }}" aria-label="Previous">
                            بعدی
                        </a>
                    {% else %}
                        <a class="page-link" href="{{base_path ~ '?' ~ pageQs ~ '=' ~ (current_page + 1) }}" aria-label="Previous">
                            بعدی
                        </a>
                    {% endif %}
                </li>
                <li class="page-item">
                    {% if no_href %}
                        <a class="page-link" data-page="{{ last_page }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    {% else %}
                        <a class="page-link" href="{{base_path ~ '?' ~ pageQs ~ '=' ~ last_page }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    {% endif %}
                </li>
            {% endif %}

        {% endif %}
    </ul>
</nav>